<div id="dashboard-tabs" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">

      {{#each openTabs key="@identity" as |tab|}}
          <li role="presentation" class="{{tab.isActive}}">
            {{#if tab.params}}
              {{#link-to
              tab.route
              tab.params
              class=tab.isActive
              actioned=(action "tabClicked" tab)}}{{tab.title}}
                {{#unless tab.isRoot}}
                    <button class="close tab-close" {{action "closeTab" tab}}>&times;</button>
                {{/unless}}
              {{/link-to}}
            {{else}}
              {{#link-to
              tab.route
              class=tab.isActive
              actioned=(action "tabClicked" tab)}}{{tab.title}}
                {{#unless tab.isRoot}}
                    <button class="close tab-close" {{action "closeTab" tab}}>&times;</button>
                {{/unless}}
              {{/link-to}}
            {{/if}}
          </li>
      {{/each}}
    </ul>

    <div class="clear"></div>
</div>